<html>
  <%- include partial/head %>
  <body>
    <%- include partial/menu %>
<!--Menu ======================================================================== Diatas-->

<div style="text-align:center;margin-top:100px"class="container">

  <form class="form-horizontal" action="/suppliers/add" method="post">
    <input type="text" name="name" class="form-control" placeholder="Name"><br>
    <input type="text" name="kota" class="form-control" placeholder="Kota"><br>

    <br><button type="submit" name="submit">SIMPAN</button>
  </form>
</div>
</body>
</html>
